.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: #1E0050;
}

.signup__block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
    background-color: #7B2CBF;
    box-shadow: 15px 0 30px rgba(0, 0, 0, 0.5);
}

.sign__selector {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 10%;
    transform: translateY(-10%);
    width: 100%;
}

.to__signup a, .to__signin a {
    font-weight: 500;
    font-size: 18px;
}

.to__signup {
    position: relative;
}

.to__signup::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

.shop__name {
    width: 60vw;
    text-align: center;
}

.shop__name h1 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 3px;
    color: white;
}

.logo {
    position: absolute;
    bottom: 0;
}

.logo img {
    width: 150px;
    opacity: .2;
}

@media (max-width: 808px){
    .shop__name {
        display: none;
    }

    .signup__block {
        width: 100vw;
    }
}
