.signup__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    text-align: center;
}

.title {
    font-size: 32px;
    margin: 20px 12px;
    letter-spacing: 2px;
    color: #fff;
}