.main__content {
    margin: 0 20px;
}

.content__header {
    padding: 0 0 20px 0;
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.basket__list {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.xui__nazvanie__ot_ahtema {
    width: 30%;
}

.basket__total {
    display: flex;
    justify-content: space-between;
    border: 1px solid #C77DFF;
    padding: 20px;
    border-radius: 10px;
    background-color: #10002B;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.total__text {
}

.total__number {
    color: #ffce33;
}

.buy__btn {
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin: 25px 0 0 0;
    background-color: #C77DFF;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: .1s linear;
}

.buy__btn:hover {
    background-color: #985aef;
}

@media (max-width: 1030px) {
    .basket__list {
        width: 100%;
    }

    .xui__nazvanie__ot_ahtema {
        width: 100%;
    }
}