.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
}

.game__logo {
    width: 25%;
    text-align: center;
}

.game__logo img {
    max-width: 100%;
}

.game__info {
    width: 70%;
}

.title__block {
    display: flex;
    align-items: center;
}

.title__block .title {
    font-size: 40px;
}

.add_to_favourites__btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.add_to_favourites, .in_favourites {
    position: relative;
    width: 50px;
    height: 50px;
}

.add_to_favourites:hover::before, .add_to_favourites:hover::after  {
    background-color: red;
}

.add_to_favourites::before, .add_to_favourites::after,
.in_favourites::before, .in_favourites::after {
    content : '';
    display: block;
    position: absolute;
    width: 12px;
    height: 20px;
    border-radius: 50px 50px 0 0;
    border: 2px solid red;
}

.in_favourites::before, .in_favourites::after {
    background-color: red;
}

.add_to_favourites::before,
.in_favourites::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1000;
    border-right: none;
    border-bottom: none;
}

.add_to_favourites::after,
.in_favourites::after {
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%) rotate(45deg);
    border-left: none;
    border-bottom: none;
}

.price__block {
    display: flex;
    align-items: center;
}

.game__main__info {
    display: flex;
    margin: 80px 0 0 0;
}

.game__main__info__item {
    text-align: center;
    border-right: 1px solid #fff;
    width: 25%;
}

.game__main__info__item:last-child {
    border: none;
}

.game__main__info__item h4 {
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 20px 0;
}

.game__main__info__item p {
    font-size: 16px;
}

.similar__games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}

.similar__games .title {
    font-size: 22px;
    margin: 20px 0;
    text-transform: uppercase;
}

.card__block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.game__about__screenshots {
    width: 70%;
}

.btn__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.screenshots {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.screenshots img {
    width: 45%;
    border-radius: 10px;
}

.game__about {
    margin: 20px 0 0 0;
}

@media (max-width: 1220px) {
    .game {
        flex-direction: column;
        align-items: center;
    }

    .game__logo {
        width: 100%;
    }

    .game__info {
        width: 100%;
    }

    .title__block .title {
        text-align: center;
    }

    .price__block {
        justify-content: center;
    }

    .game__main__info {
        margin: 20px 0 0 0;
    }

    .similar__games {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .card__block {
        justify-content: center;
    }

    .card__block a {
        margin: 0 20px
    }

    .game__about__screenshots {
        width: 80%;
    }

    .btn__block {
        width: 100%;
        justify-content: center;
    }

    .btn__block button {
        margin: 0 20px;
    }
}

@media (max-width: 808px) {
    .screenshots {
        flex-direction: column;
        align-items: center;
    }

    .screenshots img {
        width: 100%;
        margin: 20px 0;
    }
}

@media (max-width: 700px) {
    .game__main__info {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .game__main__info__item {
        width: 40%;
        margin: 20px;
        border-left: 1px solid #fff;
    }

    .game__main__info__item:last-child {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }
}

@media (max-width: 480px) {
    .game__main__info__item {
        width: 100%;
    }
}