.game__card {
    display: flex;
    flex-direction: column;
    border: 1px solid #C77DFF;
    border-radius: 10px;
    cursor: pointer;
}

.game__card img {
    border-radius: 10px 10px 0 0;
}

.card__info {
    background-color: #10002B;
    border-radius: 0 0 10px 10px;
}

.game__name {
    padding: 10px 0 5px 10px;
    font-size: 18px;
}

.game__price {
    padding: 5px 0 10px 10px;
    font-size: 18px;
    font-weight: 500;
}

.game__card:hover .game__name {
    font-weight: 600;
}