.card {
    margin: 15px 20px;
    cursor: pointer;
}

a {
    position: relative;
}

.game__card {
    display: flex;
    flex-direction: column;
    border: 1px solid #C77DFF;
    border-radius: 10px;
    cursor: pointer;
    max-width: 230px;
}

.game__card img {
    border-radius: 10px 10px 0 0;
}

.card__info {
    background-color: #10002B;
    border-radius: 0 0 10px 10px;
}

.game__name {
    padding: 10px 0 10px 10px;
    font-size: 18px;
}

.game__price {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    font-size: 18px;
    font-weight: 500;
}

.old__price {
    color: #808080;
    text-decoration: line-through;
    margin: 0 5px 0 10px;
}

.discount {
    font-size: 12px;
    padding: 1px;
    border-radius: 4px;
    background-color: #7B2CBF;
}

.btn__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.add__to__basket__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    border-radius: 10px;
    background-color: #000000;
}